/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav-links {
  background: #111;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 8vh;
  transform: translateY(-150%);
  transition: transform 1s ease;
  width: 100%;
  z-index: -1;
}
.nav-links li {
  padding: 1em;
  width: 100%;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease-in;
}
.nav-links li:hover {
  background: #191919;
  cursor: pointer;
}
.nav-links a {
  font-size: 1.13rem;
}

.header-shadow {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.nav-active {
  transform: translateY(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
  color: #111;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.fixed-container {
  margin: 0 auto;
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
}

.image-container {
  height: auto;
  width: 100%;
}

.iframe-container {
  display: block;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*** HEADER STYLES ***/
header {
  background-color: #111;
  color: #F9F9F9;
  position: relative;
  width: 100%;
  z-index: 100;
}

header .fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

header h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.nav-links li {
  display: inline-block;
  list-style: none;
}

.nav-links a {
  color: #F9F9F9;
  margin: 8px;
  font-weight: 200;
  text-decoration: none;
}
.nav-links a:hover {
  color: #FFF;
}

.brand-logo {
  cursor: pointer;
  display: none;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  max-height: 100px;
  max-width: 100px;
}

.brand-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger {
  display: block;
  cursor: pointer;
}

/* Toggle Design */
.burger div {
  background: #F9F9F9;
  border-radius: 3px;
  margin: 5px;
  height: 3px;
  width: 25px;
  transition: all 0.3s ease;
}

/*** HERO SECTION ***/
.hero-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #F9F9F9;
  text-align: center;
}

.hero-text h2 {
  font-size: 2rem;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.hero-text p {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0.79em;
}

.hero-img a.button {
  border: 1px solid #F9F9F9;
  border-radius: 10px;
  color: #F9F9F9;
  display: block;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0.8em auto 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 75%;
}
.hero-img a.button:hover {
  background: #F9F9F9;
  color: #111;
  cursor: pointer;
}

/*** EVENTS SECTION ***/
.events-section {
  padding: 1.3em 0 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.list-grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 0.9em;
}

/*EVENT LIST*/
.events-section .fixed-container:nth-of-type(1) {
  line-height: 1.5em;
  text-align: center;
}

/* IMAGE */
.events-section .fixed-container:nth-of-type(2) {
  margin: 3em auto;
}

/* EVENTS SECTION LIST*/
.events-section ul {
  list-style: none;
}

.event-list {
  padding-bottom: 1em;
}

.event-list-li {
  margin: 1em 0;
}
.event-list-li .event-details li:nth-child(1) {
  font-weight: 600;
}
.event-list-li .event-details li:nth-child(2), .event-list-li li:nth-child(3) {
  font-size: 0.889rem;
}

/* EVENT DATE BOXES */
.date-container {
  line-height: 1.25rem;
  text-align: center;
}

.date-container .grid-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
}

.month {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.date {
  font-size: 1.8rem;
  font-weight: 600;
}

.year {
  font-size: 0.9rem;
}

/*** TICKETS SECTION ***/
.ticket-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1542707067-91f05e1ac1fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  color: #F9F9F9;
  padding: 5em 0;
}

form .form-input {
  margin: 1em auto;
  width: 100%;
}
form .form-input input, form .form-input label, form .form-input select {
  display: block;
  margin-bottom: 0.5em;
}
form .form-input input {
  background: rgba(0, 0, 0, 0.5);
  color: #F9F9F9;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
}
form .form-input select {
  width: 100%;
}
form .form-input button {
  background: #4DBC52;
  border: none;
  border-radius: 10px;
  color: #F9F9F9;
  cursor: pointer;
  display: block;
  font-weight: 400;
  letter-spacing: 1.3px;
  margin: 1em auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  width: 75%;
}
form .form-input button:hover {
  background: #409A44;
}

/*** ABOUT SECTION ***/
.about-section {
  padding: 3rem 0;
}
.about-section h2 {
  text-align: left;
}
.about-section h2:nth-of-type(1) {
  margin-bottom: 0.5em;
}
.about-section p {
  margin-bottom: 1em;
}

.social-links {
  text-align: left;
}

.social-links li {
  display: inline-block;
  margin-left: 0.5em;
}

.social-links a {
  color: #111;
  cursor: pointer;
}

/*** FOOTER SECTION ***/
footer {
  background: #111;
  color: #F9F9F9;
  padding: 1em;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.footer-content .brand-container {
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  width: 100%;
}
.footer-content .brand-container h1 {
  font-size: 1rem;
}
.footer-content .brand-container .brand-logo {
  display: block;
  height: 32px;
  width: 32px;
}
.footer-content p {
  font-size: 0.7rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 768px) {
  /**** FOR TABLETS ****/
  /*** GENERAL STYLES ***/
  h2 {
    font-size: 2.25rem;
  }

  /*** HEADER STYLES ***/
  header h1 {
    font-size: 2rem;
  }

  .brand-logo {
    display: block;
    height: 48px;
    width: 48px;
  }

  .nav-links {
    top: 9.25vh;
  }

  /*** HERO SECTION ***/
  .hero-text {
    margin: 0 auto;
    width: 80%;
  }

  .hero-text h2 {
    font-size: 2.25rem;
  }

  .hero-text p {
    font-size: 1.125rem;
  }

  .hero-img a.button {
    width: 50%;
  }

  /*** EVENTS SECTION ***/
  .events-section p.drinks {
    font-size: 1.125rem;
  }

  /* EVENTS SECTION LIST*/
  .event-details li:nth-child(1) {
    font-size: 1.125rem;
  }

  .event-list .event-details li:nth-child(2), .event-list .event-details li:nth-child(3) {
    font-size: 1rem;
  }

  /* EVENT DATE BOXES */
  .date-container {
    line-height: 1.6rem;
  }

  .month {
    font-size: 1.26rem;
  }

  .date {
    font-size: 2rem;
  }

  .year {
    font-size: 1rem;
  }

  /*** TICKETS SECTION ***/
  .ticket-section .fixed-container {
    width: 60%;
  }

  form .form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form input, form select {
    margin-bottom: 1em;
  }
  form button {
    width: 50%;
  }

  /*** ABOUT SECTION ***/
  .about-section p {
    padding: 0 0 1rem 0;
  }

  address {
    font-size: 1.25rem;
  }

  /*** FOOTER SECTION ***/
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-content .brand-container, .footer-content .right-content {
    margin: 0;
    width: 50%;
  }
  .footer-content .brand-container {
    justify-content: flex-start;
  }
  .footer-content .right-content {
    justify-content: flex-end;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  /**** FOR LAPTOPS AND DESKTOPS ****/
  /*** GENERAL STYLES ***/
  .fixed-container {
    width: 960px;
  }

  .grid-container {
    grid-template-columns: 50%;
  }

  /*** HEADER STYLES ***/
  .nav-links {
    background: #111;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: translateX(0%);
    position: static;
    width: 100%;
  }
  .nav-links li {
    opacity: 1;
    transition: none;
  }
  .nav-links a {
    color: #F9F9F9;
  }

  .burger {
    display: none;
  }

  /*** HERO SECTION ***/
  .right-content {
    width: 50%;
  }

  .hero-img {
    justify-content: flex-start;
  }

  .hero-text {
    margin: 0;
  }
  .hero-text h2, .hero-text p {
    text-align: left;
  }
  .hero-text a.button {
    margin: 0.8em 0;
  }

  /*** EVENTS SECTION ***/
  .events-section .fixed-container:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
  }

  .left-content {
    margin-right: 0.5em;
    width: 50%;
  }

  .right-content {
    margin-left: 0.5em;
    width: 50%;
  }

  /*** TICKETS SECTION ***/
  .ticket-section .fixed-container {
    width: 50%;
  }
  .ticket-section .fixed-container form button {
    width: 50%;
  }

  /*** ABOUT SECTION ***/
  .about-section p {
    padding: 0 2.3em;
  }
}
@media only screen and (min-width: 1440px) {
  .ticket-section .fixed-container {
    width: 40%;
  }
}
@media only screen and (min-width: 2560px) {
  .ticket-section .fixed-container {
    width: 20%;
  }
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
