// Theme Colors
$theme-white: #F9F9F9;
$theme-black: #111;
$hover-white: #FFF;
$nav-black: #191919;


.nav-links {
    background: $theme-black;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0%;
    top: 8vh;
    transform: translateY(-150%);
    transition: transform 1s ease;
    width: 100%;
    z-index: -1;

    li {
        padding: 1em;
        width: 100%;
        opacity: 0;
        text-align: center;
        transition: 0.3s ease-in;
        &:hover{
            background: $nav-black;
            cursor: pointer;
        }
    }
    
    a {
        font-size: 1.13rem;
    }
}

.header-shadow {
    box-shadow: 2px 4px 8px rgba(0,0,0,0.6);
}

.nav-active {
    transform: translateY(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



